nav{
    width: 100%;
    margin-bottom: 1em;
    background-color:#0841a8 ;
}
.nav-item{
    display: inline-block;
    padding: 20px;
    font-size: 1.4em; 
 }
 .nav-item:hover{
     background: #0c94e8;
     cursor: pointer;
 }



ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: max-height 0.5;
}